{% extends "layout.html" %}

{% block body %}
    <div class="row justify-content-center mt-5">
        <h1>プロフィール編集</h1>
    </div>
    <form action="{{url_for('update', userid=session['userid'])}}" method="post">
        <div class="form-group row justify-content-center pt-3">
            <label for="inputName" class="col-sm-2 col-form-label">氏名</label>
            <div class="col-sm-6">
                <input name="name" type="text" placeholder="Your Name" value="{{session['name']}}" class="form-control" id="inputName" required>
            </div>
        </div>
        <div class="form-group row justify-content-center pt-2">
            <label for="inputEmail" class="col-sm-2 col-form-label">メールアドレス</label>
            <div class="col-sm-6">
                <input name="email" type="email" placeholder="Email" value="{{session['email']}}" class="form-control" id="inputEmail" required>
            </div>
        </div>
        <div class="form-group row justify-content-center pt-2">
            <label for="inputPassword" class="col-sm-2 col-form-label">パスワード</label>
            <div class="col-sm-6">
                <input name="password" type="password" placeholder="password" value="{{session['password']}}" class="form-control" id="inputPassword" required>
            </div>
        </div>
        <div class="form-group row justify-content-center pt-2">
            <label class="col-form-label col-sm-2 pt-0">性別</label>
            <div class="col-sm-6">
                <div class="form-check">
                    {% if session['gender'] == 'Male' %}
                        <input class="form-check-input" type="radio" name="gender" id="genderMale" value="Male"  required checked>
                    {% else %}
                        <input class="form-check-input" type="radio" name="gender" id="genderMale" value="Male"  required>
                    {% endif %}
                    <label class="form-check-label" for="genderMale">
                    Male
                    </label>
                </div>
                <div class="form-check">
                    {% if session['gender'] == 'Female' %}
                        <input class="form-check-input" type="radio" name="gender" id="genderFemale" value="Female"  required checked>
                    {% else %}
                        <input class="form-check-input" type="radio" name="gender" id="genderFemale" value="Female"  required>
                    {% endif %}
                    <label class="form-check-label" for="genderFemale">
                    Female
                    </label>
                </div>
                <div class="form-check">
                    {% if session['gender'] == 'N/A' %}
                        <input class="form-check-input" type="radio" name="gender" id="genderNaN" value="N/A"  required checked>
                    {% else %}
                        <input class="form-check-input" type="radio" name="gender" id="genderNaN" value="N/A"  required>
                    {% endif %}
                    <label class="form-check-label" for="genderNaN">
                    なし
                    </label>
                </div>
            </div>
        </div>
        <div class="row justify-content-center pt-3">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </form>
    <div class="row text-center mt-4">
        <div class="col">
            <a href="{{url_for('profile', userid=session['userid'])}}">マイページ</a>
        </div>
    </div>
{% endblock %}
