{% extends "layout.html" %}

{% block body %}
<div class="row center mt-5">
    <div class="col-8">
        <table class="table table-striped">
          <thead class='thead-dark'>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Message</th>
              <th scope="col">Age</th>
              <th scope="col">Gender</th>
            </tr>
          </thead>
          <tbody class="text-white">
            {% for post in posts %}
              <tr>
                {% if session['userid'] == post['postWriterID'] %}
                    <th><a href="{{url_for('profile', userid=post['writerid'])}}">{{post['id']}}</a> (You)</th>
                {% else %}
                    <th>{{post['id']}}</th>
                {% endif %}
                <td>{{post['postMessage']}}</td>
                <td>{{post['postAge']}}</td>
                <td>{{post['postGender']}}</td>
                {% if session['email'] == 'sample@gmail.com' %}
                  <form action="{{url_for('postDelete', postid=post['id'])}}" method="post">
                    <td><button type="submit" class="btn table-active text-white">削除</button></td>
                  </form>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {{ pagination.info }}
        {{ pagination.links }}
    </div>
</div>
<div class="row text-center mt-4">
    <div class="col">
        <a href="{{url_for('top')}}">トップページへ</a>
    </div>
</div>
{% endblock %}
