{% extends "layout.html" %}

{% block body %}
    <div class="row justify-content-center mt-5">
        <div class="col-8">
            <table class="table table-striped">
              <thead class='thead-dark'>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Gender</th>
                </tr>
              </thead>
              <tbody>
                {% for user in users %}
                  <tr>
                    {% if session['userid'] == user['id'] %}
                      <th><a href="{{url_for('profile', userid=user['id'])}}">{{user['name']}}</a> (You)</th>
                    {% else %}
                      <td>{{user['name']}}</td>
                    {% endif %}
                    <td>{{user['email']}}</td>
                    <td>{{user['gender']}}</td>
                    {% if session['email'] == "sample@gmail.com"  %}
                      <form action="{{url_for('delete', userid=user['id'])}}" method="post">
                        <td><button type="submit" class="btn table-active">削除</button></td>
                      </form>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {{ pagination.links }}
            {{ pagination.info }}
        </div>
    </div>
    <div class="row text-center mt-4">
        <div class="col">
            <a href="{{url_for('top')}}">トップページへ</a>
        </div>
    </div>
{% endblock %}
