<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <!-- CSS -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- JavaScript -->
        <script src="../static/js/bootstrap.min.js"></script>
        <title>Thanks Flask App</title>
    </head>
    <body>
        <!-- navbar -->
        {% if session['userid'] %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <a class="navbar-brand" href="{{url_for('top')}}">Flask App</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  {% if session['name'] == '---' %}
                    <li class="nav-item active text-warning">管理者</li>
                  {% else %}
                  {% endif %}
                  <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('profile', userid=session['userid'])}}">マイページ<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      メニュー
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{{url_for('index_users')}}">ユーザー一覧</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{{url_for('index_posts')}}">投稿一覧</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{{url_for('post', userid=session['userid'])}}">投稿</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{{url_for('update', userid=session['userid'])}}">マイページアップデート</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{{url_for('logout')}}">ログアウト</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" data-toggle="modal" data-target="#deleteModal">アカウント削除</a>
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
            <!-- Modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">WARNING: ACCOUNT DELETION</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      本当にアカウントを消してしまいますか？
                  </div>
                  <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                    <form action="{{url_for('delete', userid=session['userid'])}}" method="post">
                        <button type="submit" class="btn btn btn-danger">削除</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        {% else %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <a class="navbar-brand" href="{{url_for('top')}}">Flask App</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('register')}}">新規登録<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('login')}}">ログイン<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('index_users')}}">ユーザー一覧<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('index_posts')}}">投稿一覧<span class="sr-only">(current)</span></a>
                  </li>
                </ul>
              </div>
            </nav>
        {% endif %}
        <!-- navbar end -->
        <!-- container -->
        <div class=".container-fluid">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% elif category == 'warning' %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% elif category == 'info' %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
        </div>
        <!-- container end -->
        <footer class="footer fixed-bottom bg-dark">
            <a class="text-white float-right h5 mr-3" href="{{url_for('top')}}">Flask App</a>
        </footer>
    </body>
</html>
